:root {
    --bug-type-color: #A8B820;
    --dark-type-color: #705848;
    --dragon-type-color: #7038F8;
    --electric-type-color: #F8D030;
    --fairy-type-color: #EE99AC;
    --fighting-type-color: #C03028;
    --fire-type-color: #F08030;
    --flying-type-color: #A890F0;
    --ghost-type-color: #705898;
    --grass-type-color: #78C850;
    --ground-type-color: #E0C068;
    --ice-type-color: #98D8D8;
    --poison-type-color: #A040A0;
    --psychic-type-color: #F85888;
    --rock-type-color: #B8A038;
    --steel-type-color: #B8B8D0;
    --normal-type-color: #A8A878;
    --water-type-color: #6890F0;
}

.card {
    width: 18rem;
}

.badge-plant {
    color: white;
    background: green;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img-top {
    height: 15rem;
    padding: 10%
}